body {
  background-color: #ddd4d4;
}
.container h1 {
  color: rgb(24, 156, 112);
  font-size: 40px;
}
.container p {
  font-size: 24px;
  line-height: 1.5;
}
.container {
  width: 700px;
  border: 3px solid burlywood;
  background-color: beige;
  text-align: center;
  height: 1000px;
}
.container img {
  max-width: 600px;
}
div {
  margin-left: -8px;
}
.header_top {
  height: 40px;
  background-color: #861313;
}
.head_menu {
  padding-top: 10px;
  padding-left: 20px;
  color: aliceblue;
}
a{
  color: aliceblue;
}
/*  */
