* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* Xử lý các tag body */
body {
  font-size: 1.6rem;
  font-family: "Poppins";
}
/* Các vấn đề của thẻ main-content */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  border: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
/* .main-content .body{
align-content: center;

} */
/* Xử lý các tag header và class con */
header {
  height: 100px;
  background-color: bisque;
  display: flex;
}
/* Những vấn đề liên quan đến thẻ a */
a {
  text-decoration: none;
}
.nav li.active a,
.nav a:hover {
  color: blueviolet;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav a {
  position: relative;
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  padding: 8px 21px;
  /* font-style: normal;
  font-weight: 400; */
  /* line-height: 28px; 175% */
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}

/* ----------Hết thẻ a----------- */
/* Các vấn đề của thẻ header */
/* header .header {
}
.main-content {
} */
.header .body {
  display: flex;
  align-items: center;
  padding: 22px 0 8px;
}
.header.fixed {
  position: sticky;
  top: -14px;
}
/* Các vấn đền của nav */
.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}
/* Các vấn đề nút bấm */
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  width: 144px;
  /* height: 50px; */
  border-radius: 24.5px;
  background: #171100;
}
.btn-sign-up {
  min-width: 114px;
}
.header .action{
  margin-left: 49px;
}
