.header_top {
  background-color: #5d0505;
  margin: 0px;
  padding-top: 15px;
  padding-left: 30px;
  height: 35px;
}
.header_top a {
  color: rgb(255, 255, 255);
}
.header_top a:hover {
  color: black;
}
/* .header_top a:visited {
  color: rgb(199, 233, 145);
} */
.header_top a:active {
  color: aliceblue;
}
.header_title {
  background-color: antiquewhite;
  margin: 0px;
  height: 150px;
  padding: 95px 0 0 30px;
}
.header_title h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(167, 72, 13);
}

.container {
  width: 800px;
  height: 1000px;
  background-color: beige;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  border: 3px solid rgb(21, 148, 14);
}
.container img {
  width: 600px;
}
.container h1 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(21, 148, 14);
  padding-top: 30px;
}
.container p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 21px;
}
